* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #2F3E49;
}

.container {
	min-height: 100vh;
	
	.backgroundimg-container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: calc(100vw - 24px);
		height: calc(90vh - 24px);
		
		.topbackground	{
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			z-index: -1;
		}
		
		.btsicon {
			position: absolute;
			top: 5px;
			left: 20px;
			width: 100px;
			height: 70px;
		}
		.menuicon {
			position: absolute;
			top: 15px;
			right: 5px;
			width: 80px;
			height: 50px;
		}
		.badge-container {
			width: 274px;
			height: 274px;
			max-width: calc(100vw - 24px);
			max-height: calc(100vw - 24px);
			border-radius: 50%;
			
			img {
				width: 274px;
				height: 274px;
				max-width: calc(100vw - 24px);
				max-height: calc(100vw - 24px);
				// z-index: 5;
			}
		}
		h1 {
			color: #2F3E49;
			background-color: #73C8DE;
			padding: 10px 20px;
			margin-top: 20px;
			font-family: 'Montserrat', sans-serif;
		}
		.headericons {
			width: 330px;
			height: 100px;
			margin-top: 20px;
		}
	}
	.text-container {
		display: flex;
		width: 100%;
		padding: 0 20px;
		// margin: -10vh auto;
		justify-content: center;
		align-items: center;
		max-width: 840px;
		margin: 0 auto;
		
		.textlefticon {
			width: 100px;
			height: 100px;
			margin-left: auto;
		}
		
		h2 {
			position: relative;
			padding: 40px 0;
			max-width: 1000px;
			color: #F96400;
			margin-right: auto;
			font-family: 'Montserrat', sans-serif;
			font-size: 50px
		}
		.background2 {
			margin: 100px 0;
			z-index: 1;
		}
	}
	.secondpicture-container {
		position: relative;
		margin: 100px 0;
	}
	.sed {
		font-family: 'Open Sans', sans-serif;
		font-size: 21px;
		color: #909090;
		padding: 30px 30px 200px 30px;
	}
	.text-containers {
		width: 100%;
		max-width: 840px;
		margin: auto;
		padding: 0 20px;
		
		h2 {
			font-family: 'Montserrat', sans-serif;
			font-size: 64px;
			color: rgb(249, 100, 0);
			line-height: 72px;
		}

		p {
			font-family: 'Open Sans', sans-serif;
			font-size: 24px;
			line-height: 47px;
			color: white;
		}

		.leftlines {
			margin: 0 auto auto 20px;
			min-width: 100px;
			max-width: 495px;
			margin: -100px 50px -100px 25px;
		}

		.rightlines {
			margin: -350px 0 180px 1570px;
			min-width: 100px;
			max-width: 480px;
			max-height: 100px;
			margin-top: -350px;
			margin-bottom: 212px;
			margin-right: 180px;
		}
	}
	.van_container {
		width: 100%;
		max-width: 1340px;
		padding: 0px 20px;
		margin: 0 auto;
		box-sizing: border-box;

		.van {
			margin: 0 0 auto 10%;
			width: 7%;
			padding: 40px 0;
			box-sizing: border-box;
		}
	}
	.iceland_map {
		width: 100%;
		max-width: 1340px;
		padding: 0px 20px;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.color {
		position: relative;
		background-color: rgb(47, 62, 73);

		.svg {
			position: absolute;
			// width: 100%;
			// height: 100vw;
			top: 10%;
			left: 0;
			right: 0;
			max-width: 1340px;
			// padding: 0px 20px;
			// margin: 0 auto;
			// width: 100%;
			padding: 0px 20px;
			margin: 0 auto;
			box-sizing: border-box;
			align-items: center;
			justify-content: center;

			&_img {
				width: 90vw;
				max-width: 1340px;
			}

			@media screen and (max-width: 60em) {
			display: none;
			}

			.a {
				fill: #f96400;
			}
	
			.b {
				fill: #f99d00;
			}
	
			.c {
				fill: #3a646f;
			}
	
			.d {
				fill: #73c8de;
			}
	
			.e {
				fill: #c7e9f2;
			}
	
			.f {
				fill: #2f3e49;
			}
	
			.g {
				fill: #868e
		}
			
		}
		.text-container4 {
			font-family: 'Open Sans', sans-serif;
			color: white;
			width: 100%;
			max-width: 840px;
			padding: 0px 20px;
			margin: 0 auto;
			line-height: 47px;
			font-size: 24px;
			text-align: justify;
			
			h3 {
				font-family: 'Montserrat', sans-serif;
				padding-top: 40px;
				color: rgb(255, 81, 0);
			}
		}
	}
	.img-container4 {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: calc(50vw - 24px);
		margin: 50px 0;
	
		.horses {
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}
	.last {
		margin-left: 50px;
		margin-top: 15px;
		padding: 2px 5px;
		margin-bottom: 15px;
		width: fit-content;
		font-family: 'Open Sans', sans-serif;
		font-size: 10px;
		color: gray;
		background-color: rgb(243, 187, 196);
	}
}







